:root {
    --main-color: #000000;
    --second-color: #09131a;
    --third-color: #16FF00;
    --fourth-color: #FFED00;
}
  

.topo{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
    background-color: var(--second-color);
}


.iconeDoc {
    margin-right: 10px;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
}

.topo-titulo{
    flex-grow: 1;
    text-align: center;
    color: var(--third-color);
}

#search{
    margin-top: 1%;
    margin-bottom: 1%;
}

body {
    background-image: url(/asserts/FUNDO.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cartoes {
    display: flex;
    justify-content: center;

}

.card{
    background-color: var(--second-color);
    box-shadow: 0 0 10px 5px var(--third-color);
}

.cartoes-nome {
    color: var(--third-color);
    text-align: center;
}


.status-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.status-indicator.alive {
    background-color: #39ff14;
}

.status-indicator.dead {
    background-color: red;
}

.status-indicator.unknown {
    background-color: grey;
}

.pagination{
    display: flex;
    justify-content: center;
    gap: 2%;
}

.btn{
    background-color: var(--second-color);
    color: var(--fourth-color);
    border-color: 2px solid var(--third-color);
    
}

.contadores{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    color: var(--third-color);
}